<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NonC_Project">
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".itemRiwayat"
            android:exported="false" />
        <activity
            android:name=".riwayatPrediksi"
            android:exported="false" />
        <activity
            android:name=".inputAnalisa9"
            android:exported="false" /> <!-- Main Launcher -->
        <activity
            android:name=".HomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Prediksi Flow -->
        <activity
            android:name=".prediksiKlasifikasiPage"
            android:exported="false" /> <!-- Input Analisa Activities -->
        <activity
            android:name=".inputAnalisa1"
            android:exported="false" />
        <activity
            android:name=".inputAnalisa2"
            android:exported="false" />
        <activity
            android:name=".inputAnalisa3"
            android:exported="false" />
        <activity
            android:name=".inputAnalisa4"
            android:exported="false" />
        <activity
            android:name=".inputAnalisa5"
            android:exported="false" />
        <activity
            android:name=".inputAnalisa6"
            android:exported="false" />
        <activity
            android:name=".inputAnalisa7"
            android:exported="false" />
        <activity
            android:name=".inputAnalisa8"
            android:exported="false" /> <!-- Loading & Result -->
        <activity
            android:name=".analisaLoading"
            android:exported="false" />
        <activity
            android:name=".hasilPrediksi"
            android:exported="false" /> <!-- Other Activities -->
        <activity
            android:name=".SplashScreen"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".SplashScreenFail"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>